body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
h1{
    font-size: 40px;
}

.orange-colour{
    color: orange;
}
.flexible{
    display: flex;
    margin-bottom: 10%;
    
}
.half-area{
    width: 50%;
    margin-left: 8%;
    margin-right: 8%;
   
}
.half-area img{
    width: 110%;
    margin-top: 1%;
    margin-left: 3%;
   }
   .half-area p{
    color: gray;
}
.link-button{
    background-image: linear-gradient(red,salmon);
    font-size: 20px;
    color: whitesmoke;
    padding: 5px 30px ;
    text-decoration: none;
    font-weight: 800;
    border-radius: 10px;
    transition: 2s;
}
.top-icon{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream-img{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp-section{
    box-shadow: 10px 5px 20px 5px  gray;
    width: 95%;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: 70px;
    margin-bottom: 20PX;
    margin-top: 40px;
  
}
.full-stack{
    border-left:10px solid;
    border-image: linear-gradient(blue,pink);
    border-image-slice: 1;
   


}
.baby-web{
    border-left:10px solid;
    border-image: linear-gradient(salmon,yellow);
    border-image-slice: 1;


}
.exp-area{
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;

}
footer{
   
    text-align: center;
    padding-bottom: 20px;
    color: gray
}